@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&family=Roboto&display=swap');

}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: black;
}
/* headings and logo */

h1, h2, p {
    font-family: lato, sans-serif;
    text-decoration: none;
    color: black;
}

/*naviagtion links */
#logo {
    width: 100%;
}
nav {
    display: flex;

}

li.nav-item {
    display: inline-block;
    font-size: 110%;
    letter-spacing: 3px;
    padding: 6px;
    margin-left: 1rem;
    font-weight: 800;
    font-family: roboto, sans-serif;
    color: #707070;
    height: auto;
}

a:hover {
    color: #FC5200;
}
/*containers & sections*/


div.container-1 {
    display: flex;
    height: 600px;
    background: url(../assets/images/smoke.png) no-repeat;
}


div#text.box-1 {
    flex: 1;
    margin-left: 10%;
    align-self: center;
}
div.box-2 {
    flex: 2;
    align-self: center;
}
#circle-logo {
    display: flex;
    width: 53%;
}
div.container-2 {
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color:chartreuse;
}
.box-3 {
    display: inline-block;
}

.box-4 {
    display: flex;
    background-color:pink;
}
section.container-3 {
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color:paleturquoise;
}



/* container-2 text and logo black background*/
.buttons {
    width: 28%;
    z-index: 5;
}



#black-text {
    font-family: lato, sans-serif;
    color: black;
}
#text h1, p {
    color: white;
}

.stock {
    width: 20%;
}
