@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&family=Roboto&display=swap');
* {
    margin: 0;
    padding:0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: red;
}
/* headings and logo */

h1, h2 {
    font-family: lato, sans-serif;
    color: black;
}
#logo {
    
}