@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&family=Roboto&display=swap');
;
body {
    display: flex;
    justify-content: center;
    font-family: Lato, roboto, sans-serif;
    font-weight: 300;
    color: black;
}
/* headings and logo */
h1, h2, p {
    font-family: lato, sans-serif;
    color: black;
    letter-spacing: 1px;
    line-height: 2rem;
}
/*naviagtion links */
.nav-list {
    margin:0;
    padding:1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    line-height: 22px;
}
.nav-list {
    justify-content: space-between;
    font-family: Lato, roboto, sans-serif;
    margin-right: 3rem;
}
.nav-item {
    list-style: none;
    margin-right: 2rem;
}
.nav-item a {
    text-decoration: none;
    color: black;
}
.nav-item a:hover {
        color: #FC5200;
        border-bottom: 1px solid #FC5200;
}
.nav-logo:first-child {
    list-style: none;
    margin-right: auto;
    margin-left: 2rem;
}

li.nav-logo a {
    text-decoration: none;
}
/*containers & sections*/
div.container-1 {
    display: flex;
    background: url(../assets/images/smoke.png) no-repeat;
    flex-flow: wrap;
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-evenly;
}

div#text.box-1 {
    display: inline-block;
    font-size: 118%;
    justify-content: center;
    align-self: center;
}

div.box-2 {
    display: inline-block;
    width: auto;
    align-self: center;
}

div.arrow-down a {
    display: inline-block;
    align-self: flex-end;
    font-size: 300%;
    color: white;
    padding-top: 450px;
}

div.arrow-down a:hover {
    display: inline-block;
    color: #FC5200;
}

img#circle.logo {
    display: inline-block;
    width: 150%;
    height: auto;
    position: center;
}

div.container-2 {
    display:flex;
    padding: 5px;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

div.box-3 {
    display:inline-block;
    align-items: center;
    padding: 15px;
}

section.box-3 {
    display:flex;
}

div.container-3 {
    display:flex;
    padding: 5px;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

div.box-4 {
    display:inline-block;
    align-items: center;
    padding: 25px;
}

div#instant-image.box-4 {
    align-self: center;
    flex: -5;
}

img.circle {
    border-radius: 50%;
    align-self: center;
    border: 4px solid #FC5200;
    position: relative;
}	

div.container-4 {
    display:flex;
    padding: 5px;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

div.box-5 {
    display:inline-block;
    align-items: center;
    padding: 15px;
}

.clickable {
  background-color: #FC5200;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 20%;
  padding: 4px 15px 4px 15px;
  border-radius: 8px;
  margin-left: 55px;
}

.clickable:hover {
    color: black;
}

#black-text {
    font-family: lato, sans-serif;
    color: black;
}

#text h1, p {
    color: white;
}

/*footer*/

footer {
    width: 100%;
    align-self: center;
    color: white;
    text-align: left;
}

.social-networks {
    text-align: left;
}

ul.social-networks li {
    display: inline-block;
    font-size: 16;
    padding: 6px;
}

ul.social-networks a:hover {
    color: #FC5200; 
}
/* cannot seem to target last icon

ul.social-networks:last-child {
    color: #FC5200;
}

li.arrow-up > #down a:hover {
    color: #FC5200;
}

#top a:hover {
    color: #FC5200;}

.social-networks li:last-child a:hover {
    color: #FC5200;
}*/

.social-networks i {
    font-size: 320%;
    margin: 1%;
    padding: 5%;
    color:black;
}

.box-6 {
    background-color: black;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 3px;
    padding-bottom: 3px;
    height: auto;
}

div.box-6 a {
    text-decoration: none;
}

i#arrow-up.fas.fa-angle-up {
    color: black;
    font-size: 400%;
}

/* Where to Buy page*/
div.burgers-pic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: url(../assets/images/burgers.jpg) no-repeat;
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
    padding-top: 10rem;
    padding-bottom: 10rem;
   
}

.transparentbox {
    display: inline-block;
    width: 33%;
    background: rgba(0, 0, 0, 0.7);
    opacity: .9;
    color: white;
}

.transtext {
    text-align: justify;
    padding-left: 3rem;
    font-weight: 900;
    color: white;
    
}

button {
      background-color: #FC5200;
      color: white;
      text-align: center;
      padding: 14px 28px; 
  }
  
button a {
    text-decoration: none;
    color:black;
    text-align:center;
    font-weight: 900;
}

button:hover {
    background-color: white;
    color: black;
}

  .logo-container {
    display: flex;
    flex-wrap: wrap;
    width: 42%;
    justify-content: center;
    justify-content: space-around;
}

.row {
    align-self: center;
    padding: .5rem .5rem;
}

/* Recipe page*/
li.recipe :first-child {
    list-style-type: none;
    text-decoration: none;
}

.ingredient  {
    text-decoration: none;
    color: black;
}
#scripttext {
    font-family: 'Dancing Script', lato, sans-serif;
    font-size: 3rem;
 }   
  


/* __________for medium size screen 602px and down__________*/
@media screen and (max-width: 602px) {

.nav-logo:first-child {
    list-style: none;
    justify-content: center;
}
.nav-list {
    margin: 0 0;
    line-height: 28px;
    padding: 2rem 0 2rem 0;
    justify-content: center;
}
.nav-item {
    list-style: none;
    align-items: center;
}

div.container-1 {
    display: flex;
    background: url(../assets/images/smoke.png) no-repeat;
    flex-flow: wrap;
    /* Full height */
    height: 10%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-evenly;
}
div.arrow-down a {
    display: inline-block;
    align-self: center;
    font-size: 300%;
    color: white;
    padding-top: 10px;
 }
 h2.clickable {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 50%;
    padding: 4px 15px 4px 15px;
    border-radius: 8px;
  }

img.circle {
    border-radius: 0%;
    align-self: center;
    border: 4px solid #FC5200;
    position: relative;
}
footer {
    display: inline-block;
    width: 80;
    color: white;
    text-align: center;
}	
    
}